* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #1e7dbd;
  background-image: linear-gradient(to bottom right, #86a3c9, #1e7dbd);
}

.square {
  background: #fff;
  border: 1px solid #999;/*Aca cambio el grosor y el color de los bordes de la grilla. quiza tambien tenga que cambiar los bordes del blacksquare*/
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.blackSquare {
  background: #0c0101;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clueSat {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #1dad18;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue div {
  margin: 2px
}

.clueSat div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.6em;
  height: 2em;
  overflow: hidden; /* Asegúrate de ocultar cualquier contenido desbordante */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #0974f1;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}